#login {

  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    /* opacity: 0.7; */
    position: absolute;
    width: 100%;
    height: 100%;
  }

.icon {
  height: 15em;
  width: 15em;
  align-content: center;
  padding-left: 5em;
}

@media screen and (max-width: 991px) {
  .icon {
    padding-left: 1em;
  }
}


@media screen and (max-width: 639px) {
  .icon {
    padding-left: 0em;
  }
}

  

