@import url('https://fonts.googleapis.com/css?family=Karla');

#login {

  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    /* opacity: 0.7; */
    /* position: absolute; */
    /* width: 100%; */
    height: 50em;
  }

.icon {
  height: 15em;
  width: 15em;
  align-content: center;
  padding-left: 4.4em;
}

 /**
  * Homepage header
  */
  .loginHeader {
    text-align: center;
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 3.75em;
 }

@media screen and (max-width: 991px) {
  .icon {
    padding-left: 1em;
  }
}


@media screen and (max-width: 639px) {
  .icon {
    padding-left: 0em;
  }
}

/* .icon-google { 	background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"><path fill="%23db4437" stroke="transparent" stroke-width="0" style="" d="M7.635 10.909v2.619h4.335c-.173 1.125-1.31 3.295-4.331 3.295-2.604 0-4.731-2.16-4.731-4.823 0-2.662 2.122-4.822 4.728-4.822 1.485 0 2.479.633 3.045 1.178l2.073-1.994c-1.33-1.245-3.056-1.995-5.115-1.995C3.412 4.365 0 7.785 0 12s3.414 7.635 7.635 7.635c4.41 0 7.332-3.098 7.332-7.461 0-.501-.054-.885-.12-1.265H7.635zm16.365 0h-2.183V8.726h-2.183v2.183h-2.182v2.181h2.184v2.184h2.189V13.09H24"></path></svg>'); } */