body{
    /* same padding and margins as other */
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14px;
    
}
.heading {
    font-weight: 500;
    line-height: 1.1;
    font-size: 36px;
    margin-bottom: .75rem;
    margin-top: 1.25rem;
}

/* forms style */
.form-group input{
    width: 100%;
    padding: .5rem .625rem; /*vertical then horiz*/
    margin-top: .4rem;
    margin-bottom: 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: .85rem;
}
.form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: .1rem;
    font-weight: bold;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eeeeee;
    margin: 1em 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #337ab7;
}
a:hover{
    text-decoration: underline;
}

input[type="submit"] {
    padding: .1rem .5rem;
}

.img-center {
    /* nested flex container */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}
.footer p{
    margin: 0 0 .75rem;
}
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 


.glyphicon-cog:before {
    content: "\e019";
}

.glyphicon-plus:before {
    content: "\002b";
}

.pull-right {
    float: right !important;
}

.btn-group button {
    color: white;
    background-color: #2C6FAE;
    font-size: 1rem;
    display: block;
    padding: 10px 24px;
    width: 100%;
    margin: .25rem 0;
    cursor: pointer;
}

.btn-group button:hover {
    background-color: #235585;
}