/* Hint: use relative measurements you'll find them useful! */
/* I may have removed a selector or two */

@import url('https://fonts.googleapis.com/css?family=Monoton');  /* Set this for Monton a Google Font ...figure out their syntax */

* {
    box-sizing: border-box;
}

body {
    background-image: url(background.png);
    /* adjust this */
    /*background-size: 100% 70%; /* change this, maybe look at example 10 */
    /*background-position: center;
    /*background-repeat: repeat-y; /* image will repeat vertically */
    background-attachment: fixed; /* image will stay in place as you scroll */

}
main {
    /* nested flex container */
    display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    background:white;

    border: 1.25rem solid transparent;
    border-image-source: url(border.gif);
    border-image-slice: 20;
    border-image-repeat: repeat;
    border-image-width: 1.25rem;
}
header {
    -webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
    padding-top: 1.625rem;
    padding-left: 1.625rem;
    padding-bottom: 1rem;
}
header .wrapper {
    width: 10rem;
    height: 6rem;
    background-color: #fd4fc2;
    border-radius: 50%;
    box-shadow: 5px 5px 3px #000000;
    text-align: center;
    margin-bottom: 15rem;
}
header .logo {
    font-family: 'Monoton', cursive;
    color: black;
    font-size: 4rem;
    text-decoration: none;

}
header .fun {
  font-size: 5rem;
  font-family: Courier;
  color: white;
  /*fix shadow on this */
  text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
  text-transform: uppercase;
  text-align: left;
}
section {
	/* color rgb(243,234,95) is used */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    width: 90%;
}
section > div {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */
    font-family: 'Comic Sans MS';
    color: white;
    text-transform: lowercase;
    font-size: 2rem;
}
section > div:nth-child(2){
	/* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
	/* background color is  rgb(192,77,249) */
    background-color: rgb(43,209,252);
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}
section > div:nth-child(4){
	/* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
    background-color: rgb(43, 209, 252);
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}
section > div:nth-child(3) {
	/* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
    background-color: rgb(192,77,249);
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;

}
section > div:nth-child(1) {
	/* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
    /* background color is  rgb(43,209,252) */
    background-color: rgb(192,77,249);
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
}
section > div:nth-child(3):after {
	/* gave you the nth child after selector for free to inspire you */
	/* generated content in here ... a property can do that */
    content: " \2665 \2665 \2665";
	}

	/* some free rules for fun */
aside {
    background: rgb(255,63,63);
    color: white;
    border: 1rem solid black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 2rem;
    /* rem units are your friend use them often */
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
aside p {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
svg{
    height: 1.4rem;
    width: 1.4rem;
    fill: white;
}
#zap {
    font-size: 1.5rem;
    color: white;
    background-color: #f3e96a;
    text-shadow: 1px 1px 2px 2px black;
    border:.25rem solid white;
    border-style: double;
    border-radius: .25rem;
}
footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fd4fc2;
    width: 100%;
    height: 100%;
    border: 2rem solid #fd4fc2;
    margin-top: 3rem;
}
footer > span {
    font-family: 'Zapf Chancery', cursive;
    text-align: center;
}
footer div img {
    display: block;
    margin: auto;
    max-height:30%;
    max-width:30%
}
footer div img:hover + span {
    opacity: 1;
    transition: all 1s ease 1s;
}
footer div span {
    opacity: 0;
    position: relative;
    background-color: white;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: .625rem solid black;
    border-top-left-radius: .25rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .5rem;
}
footer div span:after {
    content:"";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-right-color: black;
    border-left: 0;
    margin-top: -1rem;
    margin-left: -2rem;
}
/* adjusts margin for page */
#spritesheet {
    height: 4rem;
}


/* Oh no! The file has been truncated I guess you have to fill it in */

/* Solution given should
   be below 250 lines, the solution we had was
   below 200 easily formatted */
